.menu_background {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    display: flex;

    align-items: center; 
    flex-direction: column; 
}

.menu_container {
    text-align: center; 
}



body {
    display: block !important; 
    padding: 0;
}


.menu_title {
    padding-top:2rem;
    color: red;
    font-family: 'Island Moments', sans-serif;
    font: 'Island Moments';
    font-size: 3.2em;
    line-height: 1.1;
}



.button {
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em .6em;
    font-size: 2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    border-width: 5px;
    border-color: gray;
    color: white;
}

button:hover {
    border-block-color: gray;
    background-color: saddlebrown;
    transition: .2s ease-in-out;
    color: red;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
